# flyctl launch added from .idea/.gitignore
# Default ignored files
.idea/shelf
.idea/workspace.xml
# Editor-based HTTP Client requests
.idea/httpRequests
# Datasource local storage ignored files
.idea/dataSources
.idea/dataSources.local.xml

# flyctl launch added from venv/.gitignore
# created by virtualenv automatically
venv/**/*

# flyctl launch added from venv/lib/python3.9/site-packages/CORScanner/.gitignore
# Byte-compiled / optimized / DLL files
venv/lib/python3.9/site-packages/CORScanner/**/__pycache__
venv/lib/python3.9/site-packages/CORScanner/**/*.py[cod]
venv/lib/python3.9/site-packages/CORScanner/**/*$py.class

# C extensions
venv/lib/python3.9/site-packages/CORScanner/**/*.so

# Distribution / packaging
venv/lib/python3.9/site-packages/CORScanner/**/.Python
venv/lib/python3.9/site-packages/CORScanner/**/env
venv/lib/python3.9/site-packages/CORScanner/**/build
venv/lib/python3.9/site-packages/CORScanner/**/develop-eggs
venv/lib/python3.9/site-packages/CORScanner/**/dist
venv/lib/python3.9/site-packages/CORScanner/**/downloads
venv/lib/python3.9/site-packages/CORScanner/**/eggs
venv/lib/python3.9/site-packages/CORScanner/**/.eggs
venv/lib/python3.9/site-packages/CORScanner/**/lib
venv/lib/python3.9/site-packages/CORScanner/**/lib64
venv/lib/python3.9/site-packages/CORScanner/**/parts
venv/lib/python3.9/site-packages/CORScanner/**/sdist
venv/lib/python3.9/site-packages/CORScanner/**/var
venv/lib/python3.9/site-packages/CORScanner/**/wheels
venv/lib/python3.9/site-packages/CORScanner/**/*.egg-info
venv/lib/python3.9/site-packages/CORScanner/**/.installed.cfg
venv/lib/python3.9/site-packages/CORScanner/**/*.egg
venv/lib/python3.9/site-packages/CORScanner/**/.vscode

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
venv/lib/python3.9/site-packages/CORScanner/**/*.manifest
venv/lib/python3.9/site-packages/CORScanner/**/*.spec

# Installer logs
venv/lib/python3.9/site-packages/CORScanner/**/pip-log.txt
venv/lib/python3.9/site-packages/CORScanner/**/pip-delete-this-directory.txt

# Unit test / coverage reports
venv/lib/python3.9/site-packages/CORScanner/**/htmlcov
venv/lib/python3.9/site-packages/CORScanner/**/.tox
venv/lib/python3.9/site-packages/CORScanner/**/.coverage
venv/lib/python3.9/site-packages/CORScanner/**/.coverage.*
venv/lib/python3.9/site-packages/CORScanner/**/.cache
venv/lib/python3.9/site-packages/CORScanner/**/nosetests.xml
venv/lib/python3.9/site-packages/CORScanner/**/coverage.xml
venv/lib/python3.9/site-packages/CORScanner/**/*.cover
venv/lib/python3.9/site-packages/CORScanner/**/.hypothesis

# Translations
venv/lib/python3.9/site-packages/CORScanner/**/*.mo
venv/lib/python3.9/site-packages/CORScanner/**/*.pot

# Django stuff:
venv/lib/python3.9/site-packages/CORScanner/**/*.log
venv/lib/python3.9/site-packages/CORScanner/**/local_settings.py

# Flask stuff:
venv/lib/python3.9/site-packages/CORScanner/**/instance
venv/lib/python3.9/site-packages/CORScanner/**/.webassets-cache

# Scrapy stuff:
venv/lib/python3.9/site-packages/CORScanner/**/.scrapy

# Sphinx documentation
venv/lib/python3.9/site-packages/CORScanner/**/docs/_build

# PyBuilder
venv/lib/python3.9/site-packages/CORScanner/**/target

# Jupyter Notebook
venv/lib/python3.9/site-packages/CORScanner/**/.ipynb_checkpoints

# pyenv
venv/lib/python3.9/site-packages/CORScanner/**/.python-version

# celery beat schedule file
venv/lib/python3.9/site-packages/CORScanner/**/celerybeat-schedule

# SageMath parsed files
venv/lib/python3.9/site-packages/CORScanner/**/*.sage.py

# dotenv
venv/lib/python3.9/site-packages/CORScanner/**/.env

# virtualenv
venv/lib/python3.9/site-packages/CORScanner/**/.venv
venv/lib/python3.9/site-packages/CORScanner/**/venv
venv/lib/python3.9/site-packages/CORScanner/**/ENV

# Spyder project settings
venv/lib/python3.9/site-packages/CORScanner/**/.spyderproject
venv/lib/python3.9/site-packages/CORScanner/**/.spyproject

# Rope project settings
venv/lib/python3.9/site-packages/CORScanner/**/.ropeproject

# mkdocs documentation
venv/lib/python3.9/site-packages/CORScanner/site

# mypy
venv/lib/python3.9/site-packages/CORScanner/**/.mypy_cache
fly.toml
